<main>
  <%= form_with(url: gpt_chat_path,
    class: 'walls',
    data: {
      controller: :placeholder,
      action: 'submit->placeholder#showSkeleton'
    }
  ) do |form| %>
    <div class="wall wall--controls shadow">
      <div class="wall__heading pb-0">
        <%= h(tag: 'h2', text: 'Create panel', classes: 'lead fw-bold') %>
      </div>
      <ul
        class="nav nav-tabs pb-0"
        id="createTabs"
        role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="general"
            data-bs-toggle="tab"
            data-bs-target="#general-pane"
            type="button"
            role="tab"
            aria-controls="general-pane"
            aria-selected="true">
              General
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="seo"
            data-bs-toggle="tab"
            data-bs-target="#seo-pane"
            type="button"
            role="tab"
            aria-controls="seo-pane"
            aria-selected="false">
              SEO
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="component"
            data-bs-toggle="tab"
            data-bs-target="#component-pane"
            type="button"
            role="tab"
            aria-controls="component-pane"
            aria-selected="false">
              Components
          </button>
        </li>
      </ul>
      <div class="wall__body">
        <div class="tab-content" id="createTabsContent">
          <div class="tab-pane fade show active"
            id="general-pane"
            role="tabpanel"
            aria-labelledby="general"
            tabindex="0"
          >
            <%= render(partial: 'contents/create_panel/general',
              locals: {
                form: form
              }
            ) %>
          </div>
          <div class="tab-pane fade"
            id="seo-pane"
            role="tabpanel"
            aria-labelledby="seo"
            tabindex="0"
          >
            <%= render(partial: 'contents/create_panel/seo',
              locals: {
                form: form
              }
            ) %>
          </div>
          <div class="tab-pane fade"
            id="component-pane"
            role="tabpanel"
            aria-labelledby="component"
            tabindex="0"
          >
            <%= render(partial: 'contents/create_panel/component',
              locals: {
                form: form
              }
            ) %>
          </div>
        </div>
      </div>
      <div class="wall__footer border-top d-block">
        <div class="form-group">
          <%= form.submit('Or something...', class: 'btn btn-success w-100') %>
        </div>
      </div>
    </div>
    <div class="wall wall--content">
      <div class="wall__heading">
        <div class="form-group mt-4">
          <%= form.label(:message, 'What?', class: 'visually-hidden') %>
          <%= form.text_area(:message,
            placeholder: 'Tell Awesome-o what kind of blog post you want!',
            class: 'form-control h-100 border-0',
            data: {
              placeholder_target: :message
            }
          ) %>
        </div>
      </div>
      <div class="wall__body">
        <div
          id="chat-results"
          class="container"
          data-placeholder-target="results"
        >
        </div>
      </div>
      <div class="wall__footer">
      </div>
    </div>
    <div class="wall wall--activity">
    </div>
  <% end %>
</main>
