<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<main data-controller="create-panel">
  <div class="walls" data-controller="placeholder">
    <div class="wall wall--controls shadow">
      <%= form_with(url: gpt_chat_path,
        class: 'wall p-0',
        data: {
          action: 'submit->placeholder#showSkeleton'
        }
      ) do |form| %>
        <div class="wall__heading pb-0">
          <%= h(tag: 'h2', text: 'Create panel', classes: 'lead fw-bold') %>
        </div>
        <ul
          class="nav nav-tabs pb-0"
          id="createTabs"
          role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active fw-bold"
              id="general"
              data-bs-toggle="tab"
              data-bs-target="#general-pane"
              type="button"
              role="tab"
              aria-controls="general-pane"
              aria-selected="true">
                General
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link fw-bold"
              id="seo"
              data-bs-toggle="tab"
              data-bs-target="#seo-pane"
              type="button"
              role="tab"
              aria-controls="seo-pane"
              aria-selected="false">
                SEO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="component"
              data-bs-toggle="tab"
              data-bs-target="#component-pane"
              type="button"
              role="tab"
              aria-controls="component-pane"
              aria-selected="false">
                Format
            </button>
          </li>
        </ul>
        <div class="wall__body">
          <div class="tab-content" id="createTabsContent">
            <div class="tab-pane fade show active"
              id="general-pane"
              role="tabpanel"
              aria-labelledby="general"
              tabindex="0"
            >
              <%= render(partial: 'contents/create_panel/general',
                locals: {
                  form: form
                }
              ) %>
            </div>
            <div class="tab-pane fade"
              id="seo-pane"
              role="tabpanel"
              aria-labelledby="seo"
              tabindex="0"
            >
              <%= render(partial: 'contents/create_panel/seo',
                locals: {
                  form: form
                }
              ) %>
            </div>
            <div class="tab-pane fade"
              id="component-pane"
              role="tabpanel"
              aria-labelledby="component"
              tabindex="0"
            >
              <%= render(partial: 'contents/create_panel/format',
                locals: {
                  form: form
                }
              ) %>
            </div>
          </div>
        </div>
        <div class="wall__footer border-top d-block">
          <div class="form-group">
            <%= form.submit('Or something...', class: 'btn btn-success text-white w-100') %>
          </div>
        </div>
      <% end %>
    </div>
    <%= form_with(url: '/testURL',
      class: 'wall w-50',
      data: {
        action: 'submit->placeholder#showSkeleton'
      }
    ) do |form| %>
    <div class="wall wall--content p-0">
      <div class="wall__heading" id="content-heading">
        <div class="form-group mt-4" data-placeholder-target="message">
          <%= panel_item do %>
            <div class="text-start ">
            <%= form.label(:message, 'What?', class: 'visually-hidden') %>
            <%= form.text_area(:message,
              placeholder: 'Tell Awesome-o what kind of blog post you want!',
              class: 'form-control border',
              rows: 10,
              data: {
                create_panel_target: :messageInput,
                action: 'input->create-panel#updateMessage'
              }
            ) %>
            </div>
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div data-create-panel-target="messageFeedback"></div>
              <span
                style="font-size: 0.75rem;"
                class="btn btn-link text-danger fw-bold" data-action="click->create-panel#resetPrompt">
                  Reset Prompt
              </span>
            </div>
          <% end %>
          <div data-create-panel-target="templateMessage"></div>
        </div>
      </div>
      <div class="wall__body">
        <div
          id="chat-results"
          class="container"
          data-placeholder-target="results"
        ></div>
      </div>
      <div class="wall__footer" id="results-actions">
      </div>
    </div>
    <% end %>
    <div class="wall wall--activity">
    </div>
  </div>
</main>
