<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<main data-controller="create-panel">
  <div class="walls" data-controller="placeholder">
    <div class="wall wall--controls shadow">
      <%= form_with(url: gpt_chat_path,
          class: 'wall p-0',
          data: {
            action: 'submit->placeholder#showSkeleton'
          }
        ) do |form| %>
        <div class="wall__heading pb-0">
          <%= h(tag: 'h2', text: 'Create panel', classes: 'lead fw-bold') %>
        </div>
        <ul
          class="nav nav-tabs pb-0"
          id="createTabs"
          role="tablist">
          <li class="nav-item" role="presentation">
            <button
              class="nav-link active"
              id="general"
              data-bs-toggle="tab"
              data-bs-target="#general-pane"
              type="button"
              role="tab"
              aria-controls="general-pane"
              aria-selected="true">
                General
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="seo"
              data-bs-toggle="tab"
              data-bs-target="#seo-pane"
              type="button"
              role="tab"
              aria-controls="seo-pane"
              aria-selected="false">
                SEO
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button
              class="nav-link"
              id="component"
              data-bs-toggle="tab"
              data-bs-target="#component-pane"
              type="button"
              role="tab"
              aria-controls="component-pane"
              aria-selected="false">
                Format
            </button>
          </li>
        </ul>
        <div class="wall__body">
          <div class="tab-content" id="createTabsContent">
            <div class="tab-pane fade show active"
              id="general-pane"
              role="tabpanel"
              aria-labelledby="general"
              tabindex="0"
            >
              <%= render(partial: 'contents/create_panel/general',
                locals: {
                  form: form
                }
              ) %>
            </div>
            <div class="tab-pane fade"
              id="seo-pane"
              role="tabpanel"
              aria-labelledby="seo"
              tabindex="0"
            >
              <%= render(partial: 'contents/create_panel/seo',
                locals: {
                  form: form
                }
              ) %>
            </div>
            <div class="tab-pane fade"
              id="component-pane"
              role="tabpanel"
              aria-labelledby="component"
              tabindex="0"
            >
              <%= render(partial: 'contents/create_panel/format',
                locals: {
                  form: form
                }
              ) %>
            </div>
          </div>
        </div>
        <div class="wall__footer border-top d-block">
          <div class="form-group">
            <%= form.submit('Or something...', class: 'btn btn-success text-white w-100') %>
          </div>
        </div>
      <% end %>
    </div>
    <%= render(partial: 'contents/content/main') %>
    <div class="wall wall--tools">
      <%= render(partial: 'contents/tools/main') %>
    </div>
  </div>
</main>
