<main>
<%= container(container: 'container-fluid') do %>
  <div class="layout">
    <div class="layout__create">
      <%= card(classes: 'shadow create-panel') do %>
        <%= h(tag: 'h2', text: 'Create', classes: 'mb-3') %>
        <%= form_with(url: gpt_chat_path) do |form| %>
          <div class="form-group">
            <%= form.label(:model, 'Select model') %>
            <%= form.select(:model,
              options_for_select(
                [
                  ['GPT-3.5','gpt-3.5-turbo'],
                  ['GPT-4', 'gpt-4']
                ],
                disabled: ['gpt-4']
              ),
              {},
              class: 'form-select'
            ) %>
          </div>
          <div class="form-group mt-3">
            <%= form.label(:temperature, 'Temp') %>
            <div class="d-flex align-items-center" data-controller="app">
              <%= form.range_field(:temperature,
                min: 0,
                max: 2,
                step: 0.1,
                class: 'form-range pe-3',
                data: {
                  'app-target': :range,
                  'action': 'input->app#setRangeValue'
                }
              ) %>
              <%= form.text_field(:range_value,
                class: "form-control px-0 text-center",
                style: 'width: 2.75rem;',
                data: {
                  'app-target': 'tempValueInput'
                }
              ) %>
            </div>
          </div>
          <div class="form-group mt-3">
            <%= form.label(:message, 'What?') %>
            <%= form.text_area(:message, rows: 5, class: 'form-control') %>
          </div>
          <div class="form-group mt-3">
            <%= form.submit('Or something...', class: 'btn btn-success') %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="layout__main">
      <%= container do %>
        <div id="chat-results"></div>
      <% end %>
    </div>
  </div>
<% end %>
</main>
