<%= turbo_frame_tag('post-tools') do %>
<div class="wall" data-controller="post-tools">
  <div class="wall__header">
    <%= content_tag(:div, nil, data: {controller: 'placeholder'}) %>
    <%= panel_item(data_target: 'header') do %>
      <div class="d-flex align-items-center justify-content-between post-builder">
        <h3 class="h6 mb-0 fw-bold">
          <i class="bi bi-arrow-repeat text-primary"></i> Rewrite
        </h3>
        <div class="d-flex">
          <div
            class="px-1 me-3 small tool-vis"
            data-post-tools-target="showHide"
            data-action="click->post-tools#toggleVisibility"
          >
            hide <i class="bi bi-chevron-up"></i>
          </div>
          <%= link_to(post_tools_path,
            data: {
              turbo_frame: 'post-tools'
            }) do %>
            <i class="bi bi-x-square-fill text-danger"></i>
          <% end %>
        </div>
      </div>
      <%= form_with(url: gpt_rewrite_path,
        id: 'content-rewrite',
        data: {
          action: 'submit->placeholder#showSpinner'
        }
      ) do |form| %>
        <%= form.label(:content_rewrite, 'What?', class: 'visually-hidden') %>
        <%= form.text_area(:content_rewrite,
          placeholder: 'Paste in text you want Awesome-o to rewrite.',
          class: 'form-control border text-start',
          rows: 10
        ) %>
        <div class="mt-3">
          <div class="d-flex justify-content-between mb-3">
            <div class="text-start pe-1">
              <%= form.label(:min_count, 'Min word count', class: 'form-label mb-0 ps-1') %>
              <%= form.text_field(:min_count, class: 'form-control') %>
            </div>
            <div class="text-start ps-1">
              <%= form.label(:max_count, 'Max word count', class: 'form-label mb-0 ps-1') %>
              <%= form.text_field(:max_count, class: 'form-control') %>
            </div>
          </div>
          <%= form.submit('Rewrite', class: 'btn btn-primary text-white') %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= content_tag(:div,
    content_tag(:div,
      nil,
      id: 'rewrite-response',
      class: 'editable p-3 mt-3',
      data: {
        placeholder_target: :results
      }
    ),
    class: 'wall__body',
  ) %>
  <div class="wall_footer border-top">
    <%= render(partial: 'contents/tools/tools_footer') %>
  </div>
</div>

<script>
(() => {
  new MediumEditor('.editable', {
    buttonLabels: false,
    placeholder: false,
    toolbar: {
      buttons: [
        'h1',
        'h2',
        'h3',
        'anchor',
        'bold',
        'italic',
        'unorderedlist',
        'orderedlist'
      ]
    }
  })
})()
</script>
<% end %>
