<%= turbo_stream.replace('chat-results') do %>
  <%= panel_item(id: 'post-results') do %>
    <%= card(classes: 'text-start') do %>
      <% begin %>
      <div>
        <h2>Option 1</h2>
        <%= @results.dig("choices", 0, "message", "content").html_safe %>
        <%= @results.dig("choices").length %>
      </div>
      <% if @results.dig("choices").length > 1 %>
        <div>
          <h2>Option 2</h2>
          <%= @results.dig("choices", 1, "message", "content").html_safe %>
        </div>
      <% end %>
      <% if @results.dig("choices").length > 2 %>
        <div>
          <h2>Option 3</h2>
          <%= @results.dig("choices", 2, "message", "content").html_safe %>
        </div>
      <% end %>
      <% if @results.dig("choices").length > 3 %>
        <div>
          <h2>Option 3</h2>
          <%= @results.dig("choices", 3, "message", "content").html_safe %>
        </div>
      <% end %>
      <% rescue => e %>
        <h1>Something ain't sturrrin the Koolaid</h1>
      <% end %>
    <% end %>
  <% end %>
<% end %>
