<%# Remove header %>
<%= turbo_stream.remove('content-heading') %>

<% begin %>
<% if @results.dig("choices").present? %>
<%= turbo_stream.replace('create-form') do %>
  <div class="p-0">
    <%= render(template: 'contents/post_tools') %>
  </div>
<% end %>
<% end %>
<% rescue %>
<% end %>

<%# Add results from response %>
<%= form_with do |form| %>
  <%= turbo_stream.replace('chat-results') do %>
    <%= panel_item(id: 'post-results') do %>
      <div id="optionsTabs" class="d-flex align-items-center justify-content-between">
        <ul class="nav nav-tabs border-none" role="tablist">
          <% begin %>
          <% if @results.dig("choices").length > 1 %>
            <% @results.dig("choices").length.times do | index | %>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link <%= 'active' if index == 0 %>"
                  id="option-<%= index %>"
                  data-bs-toggle="tab"
                  data-bs-target="#option-<%= index %>-pane"
                  type="button"
                  role="tab"
                  aria-controls="option-<%= index %>-pane"
                  aria-selected="true"
                >
                  Option <%= index + 1 %>
                </button>
              </li>
            <% end %>
          <% end %>
          <% rescue %>
          <% end %>
        </ul>
        <% if @results.dig("choices").present? %>
        <div class="ms-auto small">
          <i class="bi bi-check2-square text-success">
            <span class="visually-hidden">
              Eidtor enabled
            </span>
          </i>
          Post editor enabled
          </span>
        </div>
        <% end %>
      </div>
      <%= card(classes: 'text-start card--editor') do %>
        <% begin %>
          <% if @results.dig("choices").length == 1 %>
            <%= form.text_area("post[content]",
              value: @results.dig("choices", 0, "message", "content"),
              class: 'form-control border-0 editable'
            ) %>
          <% end %>
          <% if @results.dig("choices").length > 1 %>
            <div class="tab-content" id="optionsTabsContent">
              <% @results.dig("choices").length.times do | index | %>
                <div
                  class="tab-pane fade <%= 'show active' if index == 0 %>"
                  id="option-<%= index %>-pane"
                  role="tabpanel"
                  aria-labelledby="option-<%= index %>"
                  tabindex="0"
                >
                  <%= form.text_area("post[content][]",
                    value: @results.dig("choices", index, "message", "content"),
                    class: 'form-control border-0 editable'
                  ) %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% rescue => e %>
          <div class="p-3">
            <h2 class="mt-3">
              Awesome-o could not compute... Please <%= link_to('try again', blog_contents_path) %>.
            </h2>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <script>
    (() => {
      new MediumEditor('.editable', {
        buttonLabels: false,
        toolbar: {
          buttons: [
            'h1',
            'h2',
            'h3',
            'anchor',
            'bold',
            'italic',
            'unorderedlist',
            'orderedlist'
          ]
        }
      })
    })()
    </script>
  <% end %>
<% end %>

<%# Add results actions %>
<% begin %>
<% if @results.dig("choices").present? %>
<%= form_with do |form| %>
  <%= turbo_stream.replace('results-actions') do %>
    <div class="wall__footer border-top d-flex">
      <%= form.text_field("post[title]", class: 'form-control me-3') %>
      <%= form.submit('Save post', class: 'btn btn-primary text-white') %>
    </div>
  <% end %>
<% end %>
<% end %>
<% rescue %>
<% end %>
