<nav class="navbar navbar-expand-lg fixed-top bg-white border-bottom py-0">
  <div class="container<%= '-fluid' if user_signed_in? %> justify-content-between">
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= logo %>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
    <div>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= image_tag(current_user.gravatar(36),
                alt: "#{current_user.email}",
                class: "rounded-circle d-inline-block align-top"
              ) %>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <%= link_to('Edit Account', edit_user_registration_path, class: 'dropdown-item') %>
              </li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <%= link_to('Sign out',
                  destroy_user_session_path,
                  data: {
                    turbo_method: :delete
                  },
                  class: 'dropdown-item'
                ) %>
              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Sign in', new_user_session_path, class: 'nav-link') %>
          </li>
          <li class="nav-item">
            <%= link_to('Sign up', new_user_registration_path, class: 'nav-link') %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
