<div class="form-group mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <%= form.label(:formatting, 'Format', class: 'mb-2') %>
    <%= tooltip(placement: 'right',
      classes: 'small',
      message: 'By default Awesome-o will format your post using valid, accessibility compliant HTML. Select Raw if you want plain text.'
    ) %>
  </div>
  <%= panel_item do %>
    <%= form.select(:formatting,
      options_for_select(
        [
          ['HTML','html'],
          ['Raw', 'raw']
        ],
      ),
      {},
      class: 'form-select'
    ) %>
  <% end %>
</div>
<div class="form-group mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <%= form.label(:css_framework, 'CSS Framework', class: 'mb-2') %>
    <%= tooltip(placement: 'right',
      classes: 'small',
      message: 'Awesome-o supports many of the most popular CSS frameworks available. Select the framework you\'re using and Awesome-o will apply applicable css classes when formatting your post.'
    ) %>
  </div>
  <%= panel_item do %>
    <%= form.select(:css_framework,
      options_for_select(
        [
          ['➞ Bootstrap','bootstrap'],
          ['Bootstrap  v5 (latest)','bootstrap_5'],
          ['Bootstrap v4.6.x','bootstrap_4'],
          ['──────────','sep'],
          ['➞ Tailwind CSS','tailwind'],
          ['Tailwind v3 (latest)', 'tailwind_3'],
          ['Tailwind v2.2.x', 'tailwind_2'],
          ['Tailwind v1.9.x', 'tailwind_1'],
          ['Tailwind v0.7.x', 'tailwind_0'],
          ['──────────','sep'],
          ['➞ Bulma','bulma'],
          ['Bulma v0.9 (latest)', 'bulma_0'],
          ['──────────','sep'],
          ['➞ Foundation','foundation'],
          ['Foundation v6 (latest)', 'foundation_6'],
          ['Foundation v5', 'foundation_5'],
        ],
        disabled: [
          'bootstrap',
          'tailwind',
          'bulma',
          'foundation',
          'sep',
        ]
      ),
      { include_blank: "Select a CSS Framework" },
      class: 'form-select'
    ) %>
  <% end %>
</div>
