<div class="form-group mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <%= form.label(:template, 'Template', class: 'mb-2') %>
    <%= tooltip(placement: 'right',
      classes: 'small',
      message: 'Awesome-o has several blog post templates that have been
                tested and proven to rank favorably in SERPs.'
    ) %>
  </div>
  <%= panel_item do %>
    <%= form.select(:template,
      options_for_select(
        [
          ['Beginners Guide', 'beginners_guide'],
          ['Comparison', 'comparison'],
          ['Definition', 'definition'],
          ['Fact Checker', 'fact_checker'],
          ['How-to','how_to'],
          ['Listicle (list)', 'listicle'],
          ['Product Review', 'product_review'],
        ],
      ),
      { include_blank: "Select a template" },
      class: 'form-select',
    ) %>
  <% end %>
</div>
<div class="form-group mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <%= form.label('Title?', class: 'mb-2') %>
    <%= tooltip(placement: 'right',
      classes: 'small',
      message: 'By default Awesome-o will not generate a title for you.
                Turn the switch on to generate a title.'
    ) %>
  </div>
  <%= panel_item(classes: 'form-check form-switch d-flex justify-content-between') do %>
    <%= form.label(:generate_title, 'Generate a title?', class: 'form-check-label') %>
    <%= form.check_box(:generate_title,
      {
        class: 'form-check-input',
        role: :switch
      },
      'true',
      'false'
    ) %>
  <% end %>
</div>
<div class="form-group mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <%= form.label(:keywords, class: 'mb-2') %>
    <%= tooltip(placement: 'right',
      classes: 'small',
      message: 'Tell Awesome-o the keywords you\'d like your blog
                post optimized for. Enter a comma separated list.'
    ) %>
  </div>
  <div class="bg-light rounded border p-1 shadow-sm">
    <%= form.text_area(:keywords, rows: 5, class: 'form-control') %>
    <span class="text-muted small">Comma separated keywords</span>
  </div>
</div>
