<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title><%= app_name %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "#{controller_name} #{action_name}" %> vh-100 pt-0 px-3 d-flex flex-column align-items-center justify-content-center">


    <%= render(partial: 'shared/top_navbar') if registration_edit_view? %>
    <div style="max-width: 600px; width: 100%;">
      <div class="d-flex justify-content-center mb-3">
        <%= logo unless registration_edit_view? %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
